/* Styled Components */

/* Container styles */
.container {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(to right, #f1c057, #f297a6);
}

/* Box styles */
.form-container {
	display: flex;
	flex-direction: column;
	width: 30%;
	height: 600px;
	background-color: rgba(255,255,255,0.8);
	border-radius: 30px;
	padding: 2rem;
	margin: auto;
	text-align: center;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.content {
	flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-container {
    margin-top: "1rem";
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: ".5rem";
}

/* Title styles */
.title {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 1rem;
	margin-top: 2rem;
	color: #1c1c1c;
}

/* SignUpButton styles */
.button {
	height: 3rem;
	margin: 1rem 0.5rem;
	padding: 0 1rem;
	border: none;
	border-radius: 15px;
	outline: none;
	font-weight: bold;
	font-size: 1rem;
	background-image: linear-gradient(to right, #f1c057, #f297a6);
}

.button:hover {
	filter: saturate(86%);
}


/* TextField styles */
.input-field {
	width: 80%;
}

/* MenuItem styles */
.menu-item {
	width: 80%;
}

/* Gender select styles */
.gender-select {
	width: 80%;
}
#exitForm {
	position: absolute;
	top: 1.5rem;
	left: 2rem;
	background-color: transparent;
	border: none;
	font-weight: bold;
	font-size: 1.2rem;
	cursor: pointer;
	outline: none;

	&:hover {
		color: #dedede;
	}
}